body {
    background-color: #eaf6f6
}

hr{
    border-color: grey;
    border-style: dotted none none;
    border-top-style: dotted;
    border-width: 5px;
    width: 10%;
    
}

h1{
    color: #66bfbf;
}

h2{
    color: #66bfbf;
}

img {
    height: 8rem;
}; 